
/* CONTACT */
#contact {
    .acf-map {
        width: 100%;
        height: 400px;
        border: #ccc solid 1px;
        margin: 20px 0;
    }

    /* fixes potential theme css conflict */
    .acf-map img {
       max-width: inherit !important;
    }

    input[type="file"] {
        display: none;
    }

    label[for="file-1"] {
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        padding: 5px 0;
        display: block;
    }

    .wpcf7-response-output  {
        color: #fff;
    }
    .wpcf7-mail-sent-ok {
        color: #fff;
        border: 2px solid #148f66;
    }


}