/* FEED */
#feed{

    #myTabContent{
        ul{
            padding-left: 0;
             
            li {
                list-style-type: none;
                margin:5px 0;
                border-bottom: 1px solid #6c757d42;
                padding: 5px 0;

                &:hover {
                    -webkit-transform: scale(1.3);
                    -ms-transform: scale(1.3);
                    transform: scale(1.3);
                }    
            }
        }
    }

    .instagram {
        .img-container {
           img {
               margin: 10px 0;
               border-radius: 60px;
               -webkit-filter: grayscale(100%); 
                filter: grayscale(100%);

               &:hover {
                   -webkit-filter: none; 
                    filter: none;
                    border-radius: 20px;
                   -webkit-transition: 0.5s all; /* Safari */
                   transition: width 0.5s all;
               }  
           } 
        }
 
    }

}