/* SERVICES */
#services {
    img {
        max-width: 20rem;
        height: auto;
    }

    .box{
        margin:0;
        display:inline-block;
        position:relative;
        z-index:1;
        padding:0 5rem;
        overflow:hidden;
        background:#ff4b4b;
        width: 100%;
        min-height: 20rem;

        @include media-breakpoint-down(sm) {
            padding: 0 10px;
        }

        &:before
        {
        content:'';
        width:100%; 
        height:100%;
        position:absolute;
        top:0; 
        left:15%;
        background:#fff;
        z-index:-1;
        transform: skewX(30deg);
        transform-origin:0 0;
        }

        &.reverse {
            margin:0;
            display:inline-block;
            position:relative;
            z-index:1;
            padding:10px 50px 10px;
            overflow:hidden;
            background:#fff;
            width: 100%;
            min-height: 20rem;

            @include media-breakpoint-down(sm) {
                padding: 0 10px;
            }

            &:before{
                content:'';
                width:100%; 
                height:100%;
                position:absolute;
                top:0; 
                left:85%;
                background:#ff4b4b;
                z-index:-1;
                transform: skewX(-30deg);
                transform-origin:0 0;
            }
        }
    }
}