






/*FOOTER */
footer {
    .social {
        float: left;
        padding: 6px 0;
        margin-right: 15px;
        a {
            color: #fff;
        }
    }

    .subscribe{
        float: left;
    }

    #footer-nav {
        li {
            display: inline-block;
        }
    }
    
    #google_translate_element {
        color: #fff;
        
        .goog-te-gadget-simple {
            background-color: transparent !important;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;

        }

        .goog-te-gadget-simple .goog-te-menu-value span {
            color: #fff !important;
            font-family: 'Montserrat', sans-serif;

        }

    }
    
    a:hover {
        text-decoration: none;
        color: #fff;
    }
}
