/* HEADER */
.bg-faded {
    background-color: rgba(255,255,255,0.7);

    @include media-breakpoint-down(md) {
        padding: 10px 0;
    }

}

.social {
    a {
        text-decoration: none;
        color: #ff4b4b;
    }
    i {
        font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}
