/* HEADER */
.bg-faded {
    background-color: rgba(255,255,255,0.7);

    @include media-breakpoint-down(md) {
        padding: 10px 0;
    }

}

.social {
    a {
        text-decoration: none;
        color: #ff4b4b;
    }
    i {
        font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

/* SERVICES */
#services {
    img {
        max-width: 20rem;
        height: auto;
    }

    .box{
        margin:0;
        display:inline-block;
        position:relative;
        z-index:1;
        padding:0 5rem;
        overflow:hidden;
        background:#ff4b4b;
        width: 100%;
        min-height: 20rem;

        @include media-breakpoint-down(sm) {
            padding: 0 10px;
        }

        &:before
        {
        content:'';
        width:100%; 
        height:100%;
        position:absolute;
        top:0; 
        left:15%;
        background:#fff;
        z-index:-1;
        transform: skewX(30deg);
        transform-origin:0 0;
        }

        &.reverse {
            margin:0;
            display:inline-block;
            position:relative;
            z-index:1;
            padding:10px 50px 10px;
            overflow:hidden;
            background:#fff;
            width: 100%;
            min-height: 20rem;

            @include media-breakpoint-down(sm) {
                padding: 0 10px;
            }

            &:before{
                content:'';
                width:100%; 
                height:100%;
                position:absolute;
                top:0; 
                left:85%;
                background:#ff4b4b;
                z-index:-1;
                transform: skewX(-30deg);
                transform-origin:0 0;
            }
        }
    }
}



#contact {
    .acf-map {
        width: 100%;
        height: 400px;
        border: #ccc solid 1px;
        margin: 20px 0;
    }

    /* fixes potential theme css conflict */
    .acf-map img {
       max-width: inherit !important;
    }

    input[type="file"] {
        display: none;
    }

    label[for="file-1"] {
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        padding: 5px 0;
        display: block;
    }

    .wpcf7-response-output  {
        color: #fff;
    }
    .wpcf7-mail-sent-ok {
        color: #fff;
        border: 2px solid #148f66;
    }


}
#feed{
    ul{
        padding-left: 0;
         
        li {
            list-style-type: none;
            margin:5px 0;
            border-bottom: 1px solid #6c757d42;
            padding: 5px 0;

            &:hover {
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }    
        }
    }

    .instagram {
        img {
            margin: 10px 0;

            &:hover {
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }  
        } 
    }

}

footer {
    .social {
        float: left;
        padding: 6px 0;
        margin-right: 15px;
        a {
            color: #fff;
        }
    }

    .subscribe{
        float: left;
    }

    #footer-nav {
        li {
            display: inline-block;
        }
    }
    
    #google_translate_element {
        color: #fff;
        
        .goog-te-gadget-simple {
            background-color: transparent !important;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;

        }

        .goog-te-gadget-simple .goog-te-menu-value span {
            color: #fff !important;
            font-family: 'Montserrat', sans-serif;

        }

    }
    
    a:hover {
        text-decoration: none;
        color: #fff;
    }
}
