body {
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.btn-aqua {
    background: #ff4b4b;
    color: #fff;
}
.btn-aqua:hover {
    background: #b30b0b;
    color: #fff;
}

.btn-transparent-white {
    border: 2px solid #fff;
    color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
    background: #fff;
    color: #ff4b4b
}
.relative-box {
    position: relative
}
section {
    float: left;
    width: 100%;
    padding: 80px 0;
}