<section class="service-sec" id="feed">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>Our feed</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Lastest Users</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="instagram-tab" data-toggle="tab" href="#instagram" role="tab" aria-controls="instagram" aria-selected="false">Instagram</a>
				  </li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
					  	<ul>
					  		<li ng-repeat="user in users.users">
					  			<img ng-src="{{user.avatar_urls[24]}}">
					  			<span>{{user.name}}</span>
					  		</li>
					  	</ul>
				  	</div>
				  	<div class="tab-pane fade instagram" id="instagram" role="tabpanel" aria-labelledby="instagram-tab">
				  		<div class="row">
				  			<div class="col " ng-repeat="(key, value) in instaPhotos.photos.data">
				  				<a class="img-container" data-toggle="modal" ng-href=".myModal-{{key}}">
				  					<img class="text-sm-center" ng-src="{{value.images.thumbnail.url}}"> 
				  				</a>
				  				<div class="modal fade myModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				  				  	<div class="modal-dialog modal-lg">
				  						<div class="modal-content">
				  							<div class="row">
				  								<div class="col-md-12 text-center">
				  									<img ng-src="{{value.images.standard_resolution.url}}"> 
				  									<p class="text-center">{{value.caption.text}}</p>
				  								</div>
				  							</div>
				  						</div>
				  				  	</div>
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>	
</section>
